@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
.banner {
  width: 100%;
}

.shaper {
  width: 100%;
  padding-top: 15px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.destinations {
  background-color: #0072bc;
  background-color: #fbbc0c;
  background-color: #eeeeee;
}
.destinations .destinationCard {
  width: 350px;
  position: relative;
}
.destinations .destinationCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.destinations .destinationCard__text {
  width: 65%;
  position: absolute;
  top: 60%;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 0 10px 10px 0;
}
.destinations .destinationCard__text .destinationCard__price {
  font-size: 1.4em;
  font-style: italic;
  height: 21px;
}

.banner {
  width: 100%;
  height: 150px;
  position: relative;
}
.banner img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.banner div {
  position: absolute;
  left: 30%;
  top: 0%;
  height: 100%;
  width: 40%;
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner h2 {
  color: white;
  font-size: 4em;
}

.operatorCard {
  width: 400px;
  height: auto;
  max-height: 500px;
  box-shadow: 6px 6px 12px rgb(85, 85, 85);
  border-radius: 20px;
  padding: 10px;
}
.operatorCard__title {
  color: white;
  background-color: #3c3c3c;
  padding-bottom: 4px;
}
.operatorCard__title .score {
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: -4px;
}
.operatorCard__title svg {
  margin-top: -5px;
}
.operatorCard__link {
  background-color: #feecbc;
  display: flex;
  margin-bottom: 10px;
  padding: 2px;
}
.operatorCard__link p {
  margin: auto;
}
.operatorCard__link a {
  margin: auto;
  color: rgb(45, 45, 45);
  text-decoration: none;
  transition: text-decoration 2s;
}
.operatorCard__link a:hover {
  text-decoration: underline;
}
.operatorCard__link--empty {
  background-color: white;
  height: 28px;
}
.operatorCard__stages {
  font-style: italic;
  margin-top: 15px;
  overflow-y: scroll;
  height: 130px;
}
.operatorCard__stages li {
  margin-bottom: 10px;
}
.operatorCard__total {
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #3c3c3c;
}
.operatorCard__form {
  width: 100%;
  margin-bottom: 15px;
}
.operatorCard__form textarea, .operatorCard__form input {
  width: 100%;
}
.operatorCard__form .commentary__error {
  background-color: rgb(255, 215, 215);
}
.operatorCard__buttons {
  width: 100%;
}
.operatorCard__buttons .dropdown, .operatorCard__buttons .dropup {
  width: 100%;
}
.operatorCard__buttons .dropdown-menu {
  width: 380px;
  max-height: 320px;
  overflow: auto;
}
.operatorCard__buttons button {
  width: 100%;
  height: 40px;
  background-color: #3c3c3c;
}
.operatorCard__commentaries p:nth-child(3n+1) {
  font-weight: bold;
  margin-bottom: 2px;
}
.operatorCard__commentaries p:nth-child(3n+2) {
  font-style: italic;
}
.operatorCard__grade {
  position: relative;
  width: 100%;
}
.operatorCard__grade button {
  line-height: 3.5;
}
.operatorCard__grade button p {
  height: 40px;
}
.operatorCard .number {
  position: absolute;
  top: 5px;
  left: 100px;
  width: 50px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.header {
  background-image: url("../Images/header.png");
  background-size: cover;
  background-position: 0 -20px;
  height: 340px;
}
.header__logo {
  min-width: 300px;
  height: 300px;
  width: 300px;
}
.header__logo img {
  margin-top: 20px;
  width: 100%;
  height: 100%;
}
.header__text {
  font-family: "Amatic SC", cursive;
  color: white;
  font-weight: bold;
  width: calc(50% - 150px);
  margin-top: auto;
  margin-bottom: auto;
}
.header__empty {
  width: calc(50% - 150px);
}

.filters .container {
  background-color: #222222;
  border-radius: 0 0 40px 40px;
}
.filters button:hover {
  background-color: #0072bc;
  border-color: #0072bc;
}

footer {
  background-color: #222222;
  color: white;
  padding-top: 10px;
}
footer span:nth-child(1) {
  color: #fbbc0c;
}
footer span:nth-child(2) {
  color: #0072bc;
}

/*# sourceMappingURL=style.css.map */
