.destinationCard {
  width: 350px;
  position: relative;
}
.destinationCard img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.destinationCard__text {
  width: 65%;
  position: absolute;
  top: 60%;
  left: 0;
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 0 10px 10px 0;
}
.destinationCard__text .destinationCard__price {
  font-size: 1.4em;
  font-style: italic;
  height: 21px;
}

.banner {
  width: 100%;
  height: 150px;
  position: relative;
}
.banner img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}
.banner div {
  position: absolute;
  left: 30%;
  top: 0%;
  height: 100%;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.6);
}
.banner h2 {
  color: white;
  font-size: 4em;
}

.operatorCard {
  width: 400px;
  height: auto;
  box-shadow: 6px 6px 12px rgb(85, 85, 85);
  border-radius: 20px;
  padding: 10px;
}
.operatorCard__title {
  color: white;
  background-color: #3c3c3c;
  padding-bottom: 4px;
}
.operatorCard__title .score {
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: -4px;
}
.operatorCard__title svg {
  margin-top: -5px;
}
.operatorCard__link {
  background-color: #feecbc;
  display: flex;
  margin-bottom: 10px;
  padding: 2px;
}
.operatorCard__link p {
  margin: auto;
}
.operatorCard__link a {
  margin: auto;
  color: rgb(45, 45, 45);
  text-decoration: none;
  transition: text-decoration 2s;
}
.operatorCard__link a:hover {
  text-decoration: underline;
}
.operatorCard__stages {
  font-style: italic;
  margin-top: 10px;
}
.operatorCard__stages li {
  margin-bottom: 10px;
}
.operatorCard__total {
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #3c3c3c;
}
.operatorCard__form {
  width: 100%;
  margin-bottom: 15px;
}
.operatorCard__form textarea, .operatorCard__form input {
  width: 100%;
}
.operatorCard__form .commentary__error {
  background-color: rgb(255, 215, 215);
}
.operatorCard__buttons {
  width: 100%;
}
.operatorCard__buttons .dropdown {
  width: 100%;
}
.operatorCard__buttons .dropdown-menu {
  width: 380px;
  height: 368px;
}
.operatorCard__buttons button {
  width: 100%;
  height: 40px;
  background-color: #3c3c3c;
}
.operatorCard__commentaries {
  overflow: auto;
}
.operatorCard__commentaries p:nth-child(3n+1) {
  font-weight: bold;
  margin-bottom: 2px;
}
.operatorCard__commentaries p:nth-child(3n+2) {
  font-style: italic;
}
.operatorCard__grade {
  position: relative;
  width: 100%;
}
.operatorCard__grade button {
  line-height: 3.5;
}
.operatorCard__grade button p {
  height: 40px;
}
.operatorCard .number {
  position: absolute;
  top: 5px;
  left: 100px;
  width: 50px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.header {
  background-color: #222222;
  padding: 10px 0 10px 0;
}
.header__logo {
  min-width: 100px;
  height: 100px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header .search button:hover {
  background-color: #fbbc0c;
  border-color: #fbbc0c;
}

footer {
  background-color: #222222;
  color: white;
  padding-top: 10px;
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
