@import 'index.scss';
@import 'tours.scss';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.header {
    background-image: url('../Images/header.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

footer {
    background-color: rgb(234, 234, 234);
}