$dark-color: rgb(85, 85, 85);
$gold-color: #fbbc0c;
$blue-color: #0072bc;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

@import 'index.scss';
@import 'tours.scss';
@import 'stars.scss';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    // font-family: 'Amatic SC', cursive;
    // font-family: 'Patrick Hand', cursive;
    font-family: 'Courgette', cursive;
}

.header {
    background-image: url('../Images/header.png');
    background-size: cover;

    &__logo {
        width: 300px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__text {
        font-family: 'Amatic SC', cursive;
        color: white;
        font-weight: bold;
        width: calc(50% - 150px);
        min-width: 200px;
        margin-top: auto;
        margin-bottom: auto;
    }

    &__empty {
        width: calc(50% - 150px);
        min-width: 200px;
    }
}

.filters {
    .container {
        background-color: darken($dark-color, 10);
        border-radius: 0 0 40px 40px;
    }

    button:hover {
        background-color: $blue-color;
        border-color: $blue-color;
    }
}

footer {
    background-color: darken($dark-color, 10);
    color: white;
    padding-top: 10px;

    span:nth-child(1) {
        color: $gold-color;
    }

    span:nth-child(2) {
        color: $blue-color;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    width: 5px;
    background: yellow;
}

// ::-webkit-scrollbar the scrollbar.
// ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards).
// ::-webkit-scrollbar-thumb the draggable scrolling handle.
// ::-webkit-scrollbar-track the track (progress bar) of the scrollbar.
// ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle.
// ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
// ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements.


@media screen and (max-width: 700px) {
    .header {
        &__logo {
            width: 150px;
            height: 150px;
        }
    }
}