.banner {
    width: 100%;
    height: 150px;
    position: relative;
    // border: 1px solid $dark-color;

    img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
    }

    div {
        position: absolute;
        // left: calc(50% - 25px);
        left: 30%;
        top: 0%;
        height: 100%;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.6);
        // background-color: blue;
    }

    h2 {
        color: white;
        font-size: 4em;
    }
}

.operatorCard {
    width: 400px;
    height: auto;
    box-shadow: 6px 6px 12px $dark-color;
    border-radius: 20px;
    padding: 10px;

    &__title {
        color: white;
        background-color: darken($dark-color, 10);
        padding-bottom: 4px;
        
        .score {
            font-size: 1.5em;
            margin-bottom: 0px;
            margin-top: -4px;
        }

        svg {
            margin-top: -5px;
        }
    }

    &__link {
        background-color: lighten($gold-color, 35);
        display: flex;
        margin-bottom: 10px;
        padding: 2px;

        p {
            margin: auto;
        }

        a {
            margin: auto;
            color: rgb(45, 45, 45);
            text-decoration: none;
            transition: text-decoration 2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__stages {
        font-style: italic;
        margin-top: 10px;

        li {
            margin-bottom: 10px;
        }
    }

    &__total {
        padding: 10px;
        font-weight: bold;
        color: white;
        background-color: darken($dark-color, 10);
    }

    &__form {
        width: 100%;
        margin-bottom: 15px;

        textarea, input {
            width: 100%;
        }

        .commentary__error {
            background-color: rgb(255, 215, 215);
        }
    }

    &__buttons {
        width: 100%;

        .dropdown {
            width: 100%;
        }

        .dropdown-menu {
            width: 380px;
            height: 368px;
        }

        button {
            width: 100%;
            height: 40px;
            background-color: darken($dark-color, 10);
        }
    }

    &__commentaries {
        overflow: auto;
        
        p:nth-child(3n+1) {
            font-weight: bold;
            margin-bottom: 2px;
        }

        p:nth-child(3n+2) {
            font-style: italic;
        }
    }

    &__grade {
        position: relative;
        width: 100%;

        button {
            line-height: 3.5;
            p {
                height: 40px;
            }
        }
    }

    .number {
        position: absolute;
        top: 5px;
        left: 100px;
        width: 50px;
    }
}

